
<% if @results.empty? %>

    <h3>No flights available for the given criteria</h3>

<% else %>
    <h3> Please select a flight : </h3>
    <hr>

    <%= form_with url: new_booking_path, method: :get do |f| %>

        <% @results.each do |flight|%>
            <%= radio_button_tag(:flight_id, flight.id) %>
            <label><%= "#{flight.arrival_airport.code} to #{flight.departing_airport.code} on #{flight.date.to_date}" %></label>
            <br>
        <% end %>

        <%= f.hidden_field :passengers, value: params[:passengers] %>
        <%= f.submit %>

    <% end %>

<% end %>
